/* body {

    background: linear-gradient(333deg, #020024 0%, #090979 29%, #00d4ff 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}   

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */



body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(333deg, #020024 0%, #020024 10%, #090979 20%, #00d4ff 100%);
    background-size: 200% 200%;
    animation: gradient 5s ease-in-out infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}









#h01 {
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#itsame {
    font-family: monospace;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;


}

#Navbar ul {
    position: sticky;
    list-style-type: none;
    margin: 24;
    padding: 0;
    overflow: hidden;
    top: 0;
    background-color: #333333;
}

#Navbar li {
    float: left;
}

#Navbar a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#Navbar a:hover {
    background-color: black;
}

.contact_form {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
}

p {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
}

table,
th,
td {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px;
    border-radius: 0px;
    border-style: solid;
    width: 85%;
    border-collapse: collapse;
    padding: 15px;
    align-items: center;
    border-color: #3333333f;
    color: white;
    margin-left: auto;
    margin-right: auto;
    

}

tr:nth-child(even) {
    background-color: #eeeeee13;
}